form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input,
select,
textarea {
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: rgb(77, 139, 177);
  color: white;
}

span {
  color: red;
}

div {
  display: flex;
  gap: 10px;
}
div input {
  display: flex;
  width: 200px;
}
