section {
  position: relative;
  background-color: grey;
  width: 100vw;
  height: 100px;
}

div:first-of-type {
  position: absolute;
  background-color: blue;
  width: 50px;
  height: 50px;
  transition: left 4s 0s linear;
  left: 0;
}

div:nth-of-type(2) {
  background-color: red;
  position: absolute;
  top: 50px;
  width: 50px;
  height: 50px;
  transition: left 2s 2s linear;
  left: 0;
}

section:hover div:first-of-type {
  left: 90%;
}

section:hover div:nth-of-type(2) {
  left: 90%;
}
