* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #7b8ce4;
  color: white;
}

h1:nth-of-type(1) {
  margin-left: 15px;
  margin-top: 5px;
  font-size: 20px;
}

span::before {
  content: url(../img/icon.jpg);
}

nav {
  text-align: right;
  margin-top: -20px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 200px;
  margin-left: 200px;
  width: 150px;
  margin-bottom: 20px;
  text-align: center;
}

main p:first-of-type {
  margin-top: 10px;
  margin-left: 130px;
  width: 300px;
  text-align: center;
}

main p:nth-of-type(2) {
  margin-top: 5px;
  margin-left: 220px;
  /* margin-bottom: -200px; */
  background-color: rgb(232, 227, 227);
  color: black;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

main section {
  margin-top: 0px;
  margin-left: 400px;
}

main {
  position: relative;
}

main section {
  position: absolute;
  top: -20%;
  left: 30%;
}
